<p>
  <h2><%= @event.name %></h2>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.created_by(current_user) %>
</p>

<%= link_to 'Edit', edit_event_path(@event) if @event.created_by?(current_user) %> |
<%= link_to 'Add Friends', event_choose_user_path(@event) %>

<h1>Add a Photo</h1>
<%= render 'photos/form', event: @event, photo: @photo %>

<h2>Photos</h2>
<%= render @event.photos %>

<h2>Friends</h2>

<ul>
<% @event.users.each do |user| %>
  <% unless user == current_user %>
  <li><%= user %></li>
  <% end %>
<% end %>
</ul>
